* {
    box-sizing: border-box;
    background-color: rgb(252, 248, 243);
}

.layout {
    height: 100vh;
    display:grid;
    grid-template: "header"   150px
                    "main"    1fr
                    "footer"  40px/
                      1fr;

                }

.header {
    grid-area: header;
    text-align: center;
}

.paragraph {
    grid-area:main;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 3cm;
    word-spacing: 1mm;
    line-height: 0.7cm;
}

.bottom {
    grid-area: footer;
    background-color: rgb(3, 3, 53);
    color: white;
}

